.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: #fafafb;
  color: #6f7c82;
}

main {
  flex: 1;
}

#small-banner {
  background: #2c3c74;
  background: -webkit-linear-gradient(15deg, #85bbcd 12%, #2c3c74 72%);
  background: -moz-linear-gradient(15deg, #85bbcd 12%, #2c3c74 72%);
  background: -o-linear-gradient(15deg, #85bbcd 12%, #2c3c74 72%);
  background: linear-gradient(15deg, #85bbcd 12%, #2c3c74 72%);
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 50px 0;
  text-align: center;
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.1);
}

#small-banner h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1em;
  margin: 0 0 10px 0;
  color: #fff;
}

#small-banner p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.3;
  text-shadow: 0 1px 0 rgba(0, 91, 103, 0.3);
  -webkit-font-smoothing: antialiased;
}

.footer {
  background-color: #fff;
  padding: 2rem 0;
  box-shadow: inset -1px 0 3px rgba(0, 0, 0, 0.1);
}

#resume section {
  margin-top: 30px;
}

#resume section h2 {
  text-align: right;
  color: #f39c12;
  margin-top: 0px;
}

#resume section:last-child {
  margin-bottom: 5em;
}

#resume img.logo {
  width: 20px;
  vertical-align: text-bottom;
}

#resume div.label {
  display: inline-block;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  #resume section h2 {
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
}

#resume h5 {
  color: #222;
  margin-bottom: 0px;
}

.flexed-skills {
  margin: 0.25rem 0;
}

.skills .badge {
  margin: 0 0.15rem;
  font-weight: 500;
}

.skills .badge.badge-warning {
  color: #fefefe;
  font-weight: bold;
  background-color: #f39c12;
}

.company {
  display: flex;
  align-items: center;
}
.company strong {
  padding: 0 1rem;
  font-size: x-large;
  align-self: baseline;
}
.company small {
  align-self: baseline;
}
